<div class="container">
    <form action="">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" class="form-control"
             [(ngModel)]="alumno.nombre">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" class="form-control"
            [(ngModel)]="alumno.apellido">
        </div>
        <div class="form-group">
            <label for="excelencia">¿Es de excelencia?</label>
            <select name="excelencia" class="form-control"
             [(ngModel)]="alumno.excelencia">
                <option value="true">Sí</option>
                <option value="false">No</option>
            </select>
        </div>
        <button class="btn btn-primary" (click)="agregar()">Agregar</button>
    </form>
    <div class="card" *ngFor="let item of listadoAlumnos">
        <div class="card-body">
            <span [ngClass]="{'excelencia':item.excelencia}">Alumno</span>: {{item.nombre}} {{item.apellido}}
        </div>
    </div>
</div>