<p>{{titulo}}</p>

<p>{{ titulo | uppercase }}</p>
<p>{{ titulo | lowercase }}</p>
<p>{{ titulo | titlecase }}</p>

<p>{{ dinero | currency }}</p>
<p>{{ ganancias | percent }}</p>
<p>{{ fechaNacimiento | date:'longDate' }}</p>

<div class="cuadrado">
    <p>{{textoLargo | continuara}}</p>
</div>