<h5>Editar</h5>
<form action="">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
    </div>
    <button>Editar usuario</button>
</form>