<div *ngIf="!cargando">
    <p>Hola, terminó de cargar</p><br>
    <p>¿Qué más quieres?</p>
</div>

<img *ngIf="cargando"
    src="https://lh3.googleusercontent.com/proxy/ZudVcD_CTgPEa12nBRP_EeDilrVi_ZYorJAkVKKI0r9qDL4YaXtaZyQp9FM_wZLx7rQzg6MCbPTdvRgG_39cwkdf"
    alt="">

<button (click)="mostrarCargando()">Mostrar Cargando</button>

<div *ngFor="let nn of nombres">
    <p>Hola mi nombres es: {{nn}}</p>
</div>

<div *ngFor="let pp of productos" class="producto">
    <p>El producto es: {{pp.nombre}} con un stock de {{pp.stock}} 
        con una fecha de vencimiento del {{pp.fechaVence}}. 
        Traido por: {{pp.fabricante}}</p>
</div>

<div class="tab" [ngSwitch]="pestana">
    <button (click)="cambiarPestana('perfil')">Perfil</button>
    <button (click)="cambiarPestana('puntos')">Puntos</button>
    <button (click)="cambiarPestana('info')">Info</button>

    <div class="tabContenido">
        <p *ngSwitchCase="'perfil'">Este es el perfil</p>
        <p *ngSwitchCase="'puntos'">Estos son los puntos</p>
        <p *ngSwitchCase="'info'">Esta es la información</p>
        <p *ngSwitchDefault>Seleeccione una pestaña</p>
    </div>
</div>

<button (click)="alternarFondo()">Alternar</button>
<div [ngClass]="{'cuadrado': mostrarCuadrado}">
    <p>Apárecerá con un fondo azul</p>
</div>
<div *ngFor="let pp of productos" class="producto">
    <p> <span [ngClass]="{'textoImportante':pp.esImportante,'textoGrande':1+1==2}"> El producto es: {{pp.nombre}} </span>con un stock de {{pp.stock}} 
        con una fecha de vencimiento del <span [class.textoImportante]="pp.esImportante">{{pp.fechaVence}}</span>. 
        Traido por: {{pp.fabricante}}</p>
</div>