.producto{
    border: 2px solid #1976d2;
    padding: 5px;
    margin-top: 15px;
}

.tab{
    border: 2px solid #1976d2;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.tabContenido{
    width: 90%;
    height: 90%;
    margin: auto;
    background: #59a0e7;
}

.cuadrado{
    width:200px;
    height: 200px;
    background: #59a0e7;
}

.textoImportante{
    background: #e9df55;
}

.textoGrande{
    font-size: 25px;
}