<div class="container">
    <h4>Usuarios</h4>
    <p>Aquí podra editar o agregar usuarios</p>
    <button routerLink="/usuarios/agregar" routerLinkActive="active">Agragar</button>
    <button routerLink="/usuarios/editar" routerLinkActive="active">Editar</button>

    <router-outlet></router-outlet>
    
</div>