<h5>Agregar</h5>
<form action="">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre">
    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" name="apellido">
    </div>
    <button>Agregar usuario</button>
</form>