<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
            <a class="nav-link" routerLink="/" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Inicio</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/pipes" 
            routerLinkActive="active">Pipes</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/ejemplo" 
            routerLinkActive="active">Ejemplo</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/directiva" 
            routerLinkActive="active">Directiva</a>
        </li>
        <li>
            <a class="nav-link" routerLink="/usuarios" 
            routerLinkActive="active">Usuarios</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/articulo" 
          routerLinkActive="active">Articulos</a>
      </li>
      </ul>
    </div>
  </nav>