<div class="container">
    <div class="articulos" *ngFor="let art of articulos">
        <!-- <h4>Nombre: <a [routerLink]="['/articuloDetalle',art.nombre]"> {{art.nombre}}</a></h4> -->
        <h4>Nombre: <a (click)="pasarParametro(art)"> {{art.nombre}}</a></h4>
        <p>Descripción: {{art.descripcion}}</p>
        <h5>Precio: {{art.precio | currency: 'MXN'}}</h5>
    </div>
</div>